*~
SocialistHousing.aux
SocialistHousing.log
SocialistHousing.out
SocialistHousing.toc
SocialistHousing.pdf
SocialistHousing-Print.tex
SocialistHousing-Print.aux
SocialistHousing-Print.log
SocialistHousing-Print.out
SocialistHousing-Print.toc
